@import "tailwindcss";
@source "../components";
@source "../app";
@source "../context";

:root {
    --color-base-1: #eef2ff;
    --color-base-2: #e0e7ff;
    --color-base-3: #c7d2fe;

    --color-primary: rgb(79, 70, 229);
    --color-primary-content: rgb(250, 250, 250);

    --color-secondary: rgba(255, 255, 255, 0.5);
    --color-secondary-content: rgb(67, 56, 202);

    --color-ternary: #d0d9fa;
    --color-ternary-content: rgb(15, 23, 42);

    --color-error: rgb(220, 38, 38);
    --color-error-content: rgb(255, 255, 255);
}

[data-theme="dark"] {
    --color-base-1: rgb(9, 10, 16);
    --color-base-2: rgb(26, 27, 45);
    --color-base-3: #0d0e15;

    --color-primary: rgb(99, 102, 241);
    --color-primary-content: rgb(250, 250, 250);

    --color-secondary: rgba(255, 255, 255, 0.03);
    --color-secondary-content: rgba(250, 250, 250, 1);

    --color-ternary: rgb(30, 32, 54);
    --color-ternary-content: rgb(240, 240, 240);

    --color-error: rgb(153, 27, 27);
    --color-error-content: rgb(254, 242, 242);
}

@theme {
    --color-base-1: var(--color-base-1);
    --color-base-2: var(--color-base-2);
    --color-base-3: var(--color-base-3);

    --color-primary: var(--color-primary);
    --color-primary-content: var(--color-primary-content);

    --color-secondary: var(--color-secondary);
    --color-secondary-content: var(--color-secondary-content);

    --color-ternary: var(--color-ternary);
    --color-ternary-content: var(--color-ternary-content);

    --color-error: var(--color-error);
    --color-error-content: var(--color-error-content);

    --background-image-primary-gradient: linear-gradient(135deg,
            var(--color-base-1) 0%,
            var(--color-base-2) 50%,
            var(--color-base-3) 100%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}